body {
  margin: 0;
  background-color: #000;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

button {
  position: absolute;
  padding: 3px;
  z-index: 1;
  background: #2137;
  color: #efed;
  user-select: none;
  border: 0;
  font-family: monospace;
}

button:active {
  background-color: #1018;
  color: fefe;
  padding: 5px;
  transition: padding 0.05s ease-in;
}

button.fullscreen {
  top: calc(10px + env(safe-area-inset-top, 20px));
  left: calc(10px + env(safe-area-inset-left, 20px));
}