html {
  background-color: #000;
}

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.01s ease-in;
}

canvas {
  top: 0px;
  left: 0px;
  touch-action: none;
  position: fixed;
  display: block;
}

canvas:focus {
  outline: none;
}

div {
  position: fixed;
  padding: 2px;
  user-select: none;
}

div#fill {
  position: relative;
  padding: 0px;
  user-select: none;
  width: 100vw;
  height: 100vh;
}

div#inst {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  font: 200% monospace;
  transition: opacity 0.01s ease-out;
  pointer-events: none;
  opacity: 1.0
}

div#time {
  top: env(safe-area-inset-top, 20px);
  position: fixed;
  left: env(safe-area-inset-left, 20px);
  z-index: 1;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.25);
  font: 150% monospace;
  opacity: 0.0;
}

div#attrib {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  font: 100% monospace;
  opacity: 1.0
}

div#fs {
  bottom: 10px;
  left: 10px;
  z-index: 1;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  font: 100% monospace
}

div#fps {
  top: 10px;
  right: 10px;
  z-index: 1;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  font: 100% monospace
}

.but {
  display: inline-block;
  padding: 5px;
  background-color: rgba(128, 128, 128, 1.0);
  border-radius: 5px;
  pointer-events: auto;
}

.dat {
  font-size: 50%;
}

.inp {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0);
  font: 100% monospace;
  border: 0px;
  pointer-events: auto;
}

a {
  color: #FF0;
  opacity: 1.0;
  pointer-events: auto;
}

a:visited {
  color: #FF0
}

@keyframes fi {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}